<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   
                             http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>Archetype Created Web Application</display-name>
	
	<context-param>
	    <param-name>contextConfigLocation</param-name>
	    <param-value>/WEB-INF/classes/applicationContext.xml </param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Spring view分发器 前端处理器，接受的HTTP请求和转发请求的类。 -->
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<!-- 指定Spring IoC容器需要读取的定义了非web层的Bean（DAO/Service）的XML文件路径。 -->
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:dispatcher-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<!-- captcha servlet config-->
	<servlet>
		<servlet-name>CaptchaServlet</servlet-name>
		<servlet-class>com.alexgaoyh.MutiModule.web.admin.sysman.captcha.CaptchaServlet</servlet-class>
		<load-on-startup>10</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>CaptchaServlet</servlet-name>
		<url-pattern>/servlet/captchaCode</url-pattern>
	</servlet-mapping>
	
	<!-- 配置登陆过滤器 -->
	<filter>
        <filter-name>login</filter-name>
        <filter-class>com.alexgaoyh.MutiModule.web.admin.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>login</filter-name>
        <url-pattern>/admin/*</url-pattern>
	</filter-mapping>
	
	<!-- session超时定义,单位为分钟 -->  
    <session-config>  
        <session-timeout>30</session-timeout>  
    </session-config>  

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<error-page>  
		<error-code>404</error-code>  
		<location>/404.jsp</location>
	</error-page> 

</web-app>
