<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"> 

	 <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">  
		<!-- 数据库驱动 -->  
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />  
		<!-- 连接URL串 -->  
        <property name="url" value="jdbc:mysql://127.0.0.1:3306/mybatisTest" />  
		<!-- 连接用户名 -->  
        <property name="username" value="root" />  
		<!-- 连接密码 -->  
        <property name="password" value="alexgaoyh" />
    </bean>
    
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
	    <property name="configLocation" value="classpath:mybatis-config.xml" />  
	    <property name="dataSource" ref="dataSource" />  
	</bean>
	
	<!-- 引入persist持久化bean的定义 -->
	<import resource="module-persist-*.xml"/>
	
</beans>
