<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<!-- namespace 必须是DemoMapper接口的路径 --> 
<mapper namespace="com.alexgaoyh.MutiModule.persist.demo.DemoMapper">

	<resultMap type="Demo" id="DemoResultMap">
		<id column="id" property="id"/>
		<result column="deleteFlagState" property="deleteFlagState"/>
		<result column="name" property="name"/>
		<!--  <result column="deleteFlagState" property="deleteFlagState" typeHandler="com.alexgaoyh.MutiModule.persist.handler.DeleteFlagStateHandler"/>-->
	</resultMap>
	
	<insert id="insertDemo" parameterType="Demo">
		insert into Demo(id,deleteFlagState, name) 
		values(
		<!-- #{deleteFlagState, typeHandler=com.alexgaoyh.MutiModule.persist.handler.DeleteFlagStateHandler}, -->
		#{id},
		#{deleteFlagState},
		#{name})
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id"> 
			SELECT LAST_INSERT_ID()
		</selectKey> 
	</insert>
	
	<select id="selectDemoById" resultMap="DemoResultMap" parameterType="java.lang.Integer">
		select * from Demo where id=#{id}
	</select>
	
	<insert id="insertIntoNotExistTable" parameterType="Demo">
		insert into Demo2(deleteFlagState, name) 
		values(
		<!-- #{deleteFlagState, typeHandler=com.alexgaoyh.MutiModule.persist.handler.DeleteFlagStateHandler}, -->
		#{deleteFlagState},
		#{name})
	</insert>
	
</mapper>